/*-- scss:defaults --*/
$accent-brown: #bc812f;
$primary-teal: #00bb9e;
$primary-navy: #2f8fbc;
$link-color: $primary-teal;
$navbar-hl: $primary-teal;
$body-bg: #e6ebee;
$navbar-bg: #e6ebee;
$navbar-fg: #6a737b;
$body-color: black;
$primary: $body-bg !default;

$row-identifiers: #f4d7ad;
$row-data: #b3e9d5;
$row-cat: #a3ccdf;
$row-internal: #ebd7f3;
$row-details: #c5fbc5;

/*-- scss:rules --*/

.panel-tabset .tab-content {
  border: 1px solid #cccccc;
  border-radius: 5;
}

.panel-tabset .nav-link.active {
  color: white !important;
  background-color: #91b7b1;
}

.nav-tabs {
  background-color: $body-bg !important;
  border: 1px solid #cccccc;
  border-radius: 5;
}

.btn-info {
  background-color: $primary-navy;
}

.btn-warning {
  background-color: $accent-brown;
}

.sidebar-item-container .active {
  color: #303c51 !important;
  font-weight: 900;
}

.layout-example {
  background: $gray-500;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $font-family-monospace;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1em;
  border-radius: 3px;
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

.hello-quarto-banner h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
